.survey-btn{
  border-radius 30px
  background-color spaColor
  color white
  font-size 1.4rem
  display inline-block
  padding 0.3rem 0.3rem
  text-align center
  font-weight bold
  min-width 18rem
  transition all 0.2s ease
  box-shadow:2px 1px 4px #2E2E2E
  &.disabled{
    opacity 0.8
    pointer-events none
  }
}