.survey-form{
  padding-top 100px
  .white-box{
    max-width 600px
    margin auto
  }

  .box-body{
    .survey-row{
      margin-bottom 16px
      .survey-label{
        color #1a1a1a
        font-size 1rem
        display inline-block
        .rating-count{
          font-weight 500
          color #f8ce0b;
          &.low{
            color #d9534f
          }
          &.avg{
            color #0ac282
          }
        }
      }
      .survey-value{
        font-size 1.1rem
        font-weight 500
        padding-left 7px
        display inline-block
        color #2D88FF
      }
      .survey-rating{
        display flex
        justify-content center
        margin-top 15px
      }
      .survey-text{
        margin-top 8px
      }
    }
  }
}