.login-route{
  padding-top 150px
  .login-box{
    max-width 400px
    margin auto
    .lb-header{
      padding 1.25rem
      .lb-logo{
        text-align center
      }
      .lb-title{
        text-align center
        font-size 1.5rem
        color commonText
        font-weight bold
      }
    }
    .lb-body{
      padding 1.25rem
    }
  }
}