.survey{
  .signout-btn{
    position absolute
    top 10px
    right 10px

  }
  .end-step{

    .thank-text{
      text-align center
      font-family: 'Dancing Script', cursive;
      font-size 5rem
      color white

      font-weight bold
      text-shadow: 2px 1px #848383
    }
    .thank-box{
      background-color #f5f5e9
      padding 6px
      margin-top 40px
      font-family: 'PT Sans', sans-serif;
      border-radius 20px

      box-shadow:2px 1px 4px #2E2E2E
      .inner-box{
        border 1px dashed spaColor
        border-radius 20px
        padding 20px
        font-size 1.3rem
        max-width 800px
        white-space pre-wrap

        .highlight{
          font-weight bold
          color spaColor
        }

      }

    }
  }
  .survey-container{
    height 100vh
    display flex
    align-items center
    justify-content center
    font-size 15px
    .survey-header{
      color white
      text-align center
      font-size 3rem
      font-weight bold
      text-shadow: 2px 1px #848383
    }
    .survey-body{
      margin-top 50px
    }
    .survey-actions{
      margin-top 50px
      text-align center
    }
  }
}