.survey-route{
  padding-top 100px
  padding-bottom 30px
  .survey-container{
    max-width 800px
    margin auto
    .survey-body{
      padding 1.25rem 1rem
      .finish-dialog{
        margin-top 1rem
        .success-text{
          display flex
          align-items center
          .success-icon{
            font-size 2.2rem
            color #0ac282
          }
          span{
            padding-left 10px
          }
        }
      }
    }
    .survey-header{
      padding 0 1rem
      .sh-title{
        text-align center
        font-size 1.5rem
        color commonText
        padding 1rem 0
        font-weight bold
        border-bottom 1px solid commonBorder
      }
    }
  }
}