.survey-route{
  padding-top 50px
  padding-bottom 30px
  .survey-container{
    max-width 500px
    margin auto
    .survey-body{
      padding 1.25rem 1rem
    }
    .survey-header{
      padding 0 1rem
      .sh-title{
        text-align center
        font-size 1.5rem
        color commonText
        padding 1rem 0
        font-weight bold
        border-bottom 1px solid commonBorder
      }
    }
  }
}