.authen-layout{
  .al-content{
    padding-top 70px
  }
  .al-navbar{
    position fixed
    z-index 2
    background-color primaryColor
    width 100vw
    .al-container{
      display flex
      align-items center
      justify-content center
      width 100%
      position relative

      @media (max-width 960px){
        justify-content flex-start
      }
      .signout-btn{
        position absolute
        right 0
      }
      .app-logo{
        padding 0.8rem 0
        font-size 1.5rem
        color white
        font-weight bold

      }
    }

  }
}